@import './responsive.scss';

.layout {
  //   background: red;
  height: 100vh;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    background: grey;
    width: 1280px;
  }
  @include md {
    background: lightcoral;
    width: 1024px;
  }
  @include sm {
    background: lightblue;
    width: 738px;
  }
}
